* {
    font-family: 'Poppins', sans-serif;
}
h1{
    padding-top: 100px;
    color: #535353;
}
h2 {
    color: #535353;
}
.imga {
        float: left;
    }
p{
    padding-top: 10px;
    margin: 0 auto;
}
.subheading{
    padding-top: 70px;
}
dt{
    color: tomato;
}
@media screen and (min-width: 770px) {
    .bs-docs-section{
    margin: 0 auto; width: 1300px;
    }
    .mv, .mvinfo{
        margin-left: 250px;
    }
    .subhead, .d{
        margin-left: 30px;
    }
    .b {
        margin-left: 50px;
    }
    .a {
        margin-bottom: 300px;
    }
    .footer{
        text-align: center;
        color: tomato;
    }

}

@media screen and (max-width: 768px) {

.bs-docs-section{
    margin: 0 auto; width: 350px;
}
.imga{
    margin: 0 auto; width: 350px;
}
.b{
    margin-left: 20px;
}
.a{
    margin-bottom: 100px;
}
}
